* {
  margin: 0;
  padding: 0;
  font-family: 'Sue Ellen Francisco', cursive;
  /* border: 1px solid gold; */
  transition-duration: 1s;
}

.bunny-pic {
  display: inline-block;
  height: 150px;
  width: 150px;
}

button {
  font-size: 35px;
  padding: 0 10px;
  opacity: 50%;
  transition-duration: 1s;
}

.vs-image {
  height: 100vh;
  display: flex;
  align-items: center;
}

#battle {
  width: 200px;
}

#defend {
  width: 200px;
}

.battle-buttons {
  justify-self: flex-end;
  margin: 0 0 5px 0;
}

.battle-modal {
  width: 100%;
  height: 100%;
	background-color: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 1;
  display: none;
}

#versus {
  height: 30%;
  width: 20vw;
}

.player-battle {
  width: 40vw;
  height: 100vh;
}

.enemy-battle {
  width: 40vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.carrot {
  width: 20px;
}

#overkill {
  font-family: 'Sedgwick Ave Display', cursive;
}

body {
  height: 100%;
}

#player {
  color: blue;
}

#enemy {
  color: red;
}

.bunnies {
  display: flex;
  padding: 2px;
}

.bunny-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition-duration: .5s;
}

.bunny-icon:hover {
  filter: grayscale(100%);
  transform: scale(.95);
}

.territory-head {
  border-bottom: 4px solid black;
}

.territory-body {
  display: flex;
}

.food-losses {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  flex-direction: column;
}

#title {
  color: white;
  text-align: center;
  padding: 5px 0 0 0;
}

.territory {
  width: 50%;
  border: 4px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  height: 8vh;
  width: 100%;
  background-color: black;
}

footer {
  height: 8vh;
  width: 100%;
  background-color: black;
}

.container {
  height: 84vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  transition-duration: 1s;
}

#fall {
  background-image: url('../images/fall.jpg');
}
#spring {
  background-image: url('../images/spring.jpg');
}
#summer {
  background-image: url('../images/summer.jpg');
}
#winter {
  background-image: url('../images/winter.jpg');
}
